.v-application .md code {
	font-weight: initial;
	background-color: #2f2f2f;
	color: rgba(255, 255, 255, 0.9);
	font-size: 95%;
	display: inline-block;
	padding: 1px 0.5em 1px 0.5em;
	margin: 2px;
	margin-bottom: 14px;
}
/* Code block */
.v-application .md pre code {
	display: block;
	padding: 0.5em 0.8em 0.5em 0.8em;
}
.v-application .md code:before,
.v-application .md code:after {
	content: initial;
}

/* Change h1, h2... styles to make markdown's style better */
.v-application .md p {
	margin-bottom: 8px;
}

.markdown-text {
	word-wrap: break-word;
}

.theme--light .markdown-text table td,
.theme--light .markdown-text table th {
	padding: 8px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.25);
}

.theme--light .markdown-text table {
	border-spacing: 0;
	border-collapse: collapse;
}

.theme--light .markdown-text table tr:nth-child(2n) {
	background-color: rgba(0, 0, 0, 0.04);
}

.theme--dark .markdown-text table td,
.theme--dark .markdown-text table th {
	padding: 8px;
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0.25);
}

.theme--dark .markdown-text table {
	border-spacing: 0;
	border-collapse: collapse;
}

.theme--dark .markdown-text table tr:nth-child(2n) {
	background-color: rgba(255, 255, 255, 0.06);
}